global
    maxconn {{ max_connections }}
    log stdout local0

defaults
    log     global
    timeout client      {{ timeout_client }}s
    timeout connect     {{ timeout_connect }}s
    timeout queue       {{ timeout_queue }}s
    timeout server      {{ timeout_server }}s

listen {{ backend_name }}
    mode tcp
    option  tcplog
    bind *:{{ listen_host_port }}

    balance roundrobin
    {% for onion in onions %}
    server {{ onion.name }} {{ onion.name }}:9050 check {% endfor %}

frontend dashboard
    mode  http
    option  httplog
    bind *:{{ dashboard_bind_port }}

    stats enable
    stats uri /
    stats refresh {{ dashboard_refresh_rate }}s
